{% extends 'index.html' %}
{% load i18n %}
{% block content %}
<!-- Main Content -->
<div class="container">
    {% include 'breadcrumbs.html' %}
    <div class="main-header">
        <h1>{% trans "Pinterest gif Downloader" %}</h1>
        <p>{% trans "Download Pinterest videos, gifs, and GIFs instantly in HD, Full HD, 1080p, 2K, and 4K quality. Our browser-based downloader works on any device, no app required, completely free to use." %}</p>
    </div>
    <div id="toast-container"></div>
    <section class="download-section" id="downloadSection">
        <p><b>{% trans "PASTE YOUR PINTEREST LINK HERE" %}</b></p>
        <div class="input-group">
            <input type="text" id="pinterestGifUrl" placeholder="https://www.pinterest.com/pin/..../">
            <button id="downloadGifButton">
                <i class="fas fa-download"></i> {% trans "Download" %}
            </button>
        </div>
        <p class="policy">{% trans "By using our service you accept our" %} <a href="{% url 'termsAndConditions' %}">{% trans "Terms of Service" %}</a> {% trans "and" %} <a href="{% url 'privacyPolicy' %}">{% trans "Privacy Policy" %}</a></p>

        <div class="tutorial">
            <a href="#">{% trans "How to download? Watch the tutorial" %}</a>
        </div>

        <div class="security-badge">
            <img src="data:gif/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNCAyNCIgZmlsbD0iIzAwNzVkMSI+PHBhdGggZD0iTTEyIDJDNi40OCAyIDIgNi40OCAyIDEyczQuNDggMTAgMTAgMTAgMTAtNC40OCAxMC0xMFMxNy41MiAyIDEyIDJ6bS0yIDE1bC01LTUgMS40MS0xLjQxTDEwIDE0LjE3bDcuNTktNy41OUwxOSA4bC05IDl6Ii8+PC9zdmc+"
                alt="Security Badge">
            <span>{% trans "Scanned by Norton™ Safe Web" %}</span>
        </div>
    </section>
    <div class="loader" id="loader" style="display: none;"></div>
    <!-- Preview Gif Section -->
    <div id="player-overlay">
            <video width="100%" height="300px" controls id="gifPreview" style="display:none; margin: 20px;">         
        </video>        
    </div>
    <!-- Download Gif Button section -->
    <div style="text-align: center; width: 100%; margin: 2%;" class ="downloadSection">
        <div class="button-row" id="downloadGifBtnSection" style="display: none;">
            <form id="downloadGifForm" method="POST" action="{% url 'downloadGif' %}" style="display:inline;">
                {% csrf_token %}
                <input type="hidden" name="gif_url" id="hiddenGifUrl">
                <input type="hidden" name="filename" id="hiddenGifFilename" value="pinterest.gif">
                <button type="submit" id="downloadGifFileBtn" class="btn btn-danger">
                    <i class="fas fa-download"></i>
                    {% trans "Download Gif" %}
                </button>
            </form>
            <a href="{% url 'gifDownloader' %}" id="downloadMoreGifBtn" class="btn btn-outline-secondary">
                <i class="fas fa-plus"></i> {% trans "Download More Gifs" %}
            </a>

        </div>
    </div>
</div>

{% endblock %}