{% load i18n %}
<!-- Footer Section -->
<footer class="footer">
    <div class="footer-container">
        <div class="footer-column">
            <h2>{% trans "Quick Links" %}</h2>
            <ul class="footer-links">
                <li><a href="{% url 'home' %}">{% trans "Home" %}</a></li>
                <li><a href="{% url 'about' %}">{% trans "About Us" %}</a></li>  
                <li><a href="{% url 'blog' %}">{% trans "Blog" %}</a></li>
            </ul>
        </div>
        <div class="footer-column">
            <h2>{% trans "Support" %}</h2>
            <ul class="footer-links">
                <li><a href="{% url 'contactUs' %}">{% trans "Contact Us" %}</a></li>  
                <li><a href="{% url 'privacyPolicy' %}">{% trans "Privacy Policy" %}</a></li>
                <li><a href="{% url 'termsAndConditions' %}">{% trans "Terms And Conditions" %}</a></li>
                <li><a href="{% url 'copyrightPolicy' %}">{% trans "Copyright Policy" %}</a></li>
            </ul>
        </div>
        <div class="footer-column">
            <h2>{% trans "Disclaimer" %}</h2>
            <p>{% trans "PinCatch Tool is not affiliated with Pinterest. All trademarks, logos, and videos belong to their respective owners. This service is for personal use only." %}</p>
        </div>
    </div>
    <div class="footer-bottom">
        <p>&copy; {% trans "2025 PinCatch. All Rights Reserved. | Designed with" %} <i class="fas fa-heart"
                style="color: var(--primary-color);"></i> {% trans "for Pinterest users" %}</p>
    </div>
</footer>
 