<!-- Header Section -->
<header class="header">
    <div class="header-container">
        <div class="logo-container">
            <div class="logo">
                <div class="logo-icon">
                    <i class="fas fa-download"></i>
                </div>
                PinCatch
            </div>
        </div>

        <div class="header-controls">

            <button class="mobile-menu-btn" id="mobileMenuBtn">
                <i class="fas fa-bars"></i>
            </button>

            <ul class="nav-menu" id="navMenu">
                <li><a href="{% url 'home' %}"> Home</a></li>
                <li><a href="#"> Pinterest Image Downloader</a></li>
                <li><a href="#"> Pinterest GIF Downloader</a></li>
                <li><a href="{% url 'blogs' %}"> Blogs</a></li>
                <li><a href="#"> About</a></li>
            </ul>
        </div>
    </div>
</header>

